{% extends "templates/layout.njk" %}

{% set title = "О компании" %}
{# {% set is_index_page = true %} #}

{% block styles %}
    <link rel="stylesheet" href="css/libs/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/about.min.css">
{% endblock %}

{% block content %}
    {% include "pages-blocks/hero.njk" %}
    {% include "pages-blocks/content.njk" %}
    {% include "pages-blocks/why-we.njk" %}
    {% include "pages-blocks/licenses.njk" %}
    {% include "pages-blocks/trust-us.njk" %}
    {% include "pages-blocks/feedback.njk" %}
{% endblock %}

{% block scripts %}
    <script src="js/libs/swiper-bundle.min.js"></script>
    {{ super() }}
{% endblock %}
