{% extends "templates/layout.njk" %}

{% set title = "О компании" %}

{% block styles %}
    <link rel="stylesheet" href="css/libs/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/libs/fancybox.css">
    <link rel="stylesheet" href="css/about.min.css">
{% endblock %}

{% block content %}
    <section class="hero">
        <nav class="hero__breadcrumbs breadcrumbs">
            <div class="container">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="./" class="breadcrumbs__link">Главная</a>
                        <svg width="9" height="6">
                            <use xlink:href="#menu_arrow">
                        </svg>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">О компании</a>
                    </li>
                </ol>
            </div>
        </nav>
        <div class="hero__container container">
            <h1 class="hero__title">О Компании</h1>
        </div>
    </section>
    {% include "pages-blocks/content.njk" %}
    {% include "pages-blocks/why-we.njk" %}
    {% include "pages-blocks/licenses.njk" %}
    {% include "pages-blocks/trust-us.njk" %}
    {% include "pages-blocks/feedback.njk" %}
{% endblock %}

{% block scripts %}
    <script src="js/libs/swiper-bundle.min.js"></script>
    <script src="js/libs/fancybox.umd.js"></script>
    {{ super() }}
{% endblock %}
