{% extends "templates/layout.njk" %}

{% set title = "Тормозные системы" %}


{% block styles %}
    <link rel="stylesheet" href="css/categories.min.css">
{% endblock %}

{% block content %}
    <section class="hero section">
        <div class="container">
            <nav class="hero__breadcrumbs breadcrumbs">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="./" class="breadcrumbs__link">Главная</a>
                        <svg width="9" height="6">
                            <use xlink:href="#menu_arrow">
                        </svg>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="./catalog" class="breadcrumbs__link">Каталог</a>
                        <svg width="9" height="6">
                            <use xlink:href="#menu_arrow">
                        </svg>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">{{ title }}</a>
                    </li>
                </ol>
            </nav>
            <h1 class="hero__title">{{ title }}</h1>
            <nav class="categories">
            <ul class="categories__list">
                {% set categories = [
                    { name: "Тормозные диски", imgSrc: "category-01.png" },
                    { name: "Бочки тормозной жидкости", imgSrc: "category-02.png" },
                    { name: "Тормозные колодки", imgSrc: "category-03.png" },
                    { name: "Для спецтехники", imgSrc: "category-04.png" },
                    { name: "Тормозные цилиндры", imgSrc: "category-05.png" },
                    { name: "Тормозные шланг, тросы", imgSrc: "category-06.png" },
                    { name: "Тормозные диски", imgSrc: "category-01.png" }
                ] %}
                {% for category in categories %}
                    <li class="categories__list-item">
                        <a href="./products" class="categories__list-link category">
                            <div class="category__image">
                                <img src="./images/{{ category.imgSrc }}" alt="category">
                            </div>
                            <div class="category__name">{{ category.name }}</div>
                            <div class="category__arrow">
                                <svg width="9" height="14">
                                    <use xlink:href="#catagories_arrow">
                                </svg>
                                
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            </nav>
        </div>
    </section>
    <section class="products-layout">
        <div class="products-layout__container container">
            {% include "bem-blocks/sidebar.njk" %}
            <main class="products-layout__grid products-layout__grid--cols-4">
                {% set product_cards = ["category-01", "category-02", "category-03", "category-04", "category-05", "category-06"] %}
                {% for i in range(4) %}
                    {% for product in product_cards %}
                        <a href="./single-product" class="product-card">
                            <div class="product-card__image">
                                <img src="./images/{{ product }}.png" alt="">
                            </div>
                            <div class="product-card__content">
                                <div class="product-card__title">Для легкового транспорта</div>
                                <div class="product-card__price">25 000 ₽</div>
                            </div>
                        </a>
                    {% endfor %}
                {% endfor %}
            </main>
        </div>
    </section>
    {% include "pages-blocks/info.njk" %}
    {% include "pages-blocks/feedback.njk" %}
{% endblock %}

{% block scripts %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=d8a21585-38da-456b-a9c1-d0839c8a79fd&load=package.standard&lang=ru_RU" type='text/javascript'></script>
    {{ super() }}
{% endblock %}
