{% extends "templates/layout.njk" %}

{% set title = "Контакты" %}
{% set file_input = true %}

{% block styles %}
    <link rel="stylesheet" href="css/contacts.min.css">
{% endblock %}

{% block content %}
    <section class="hero section">
        <nav class="hero__breadcrumbs breadcrumbs">
            <div class="container">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="./" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Контакты</a>
                    </li>
                </ol>
            </div>
        </nav>
        <div class="hero__container container">
            <h1 class="hero__title">Контакты</h1>
            <div class="hero__map-box">
                <div class="hero__map" id="map" data-mark="55.7954692462696, 49.10679244528347" data-pin-image="images/map-pin.svg"></div>
                <div class="hero__contact-info contact-info">
                    <div class="contact-info__img">
                        <img src="./images/geo-image.png" alt="">
                    </div>
                    <div class="contact-info__box">
                        <a href="tel:+79765432100" class="contact-info__item contact-info__phone">8 (976) 543 21 00</a>
                        <div class="contact-info__item _transparent">Республика Татарстан,<br> г. Казань, ул. Баумана, 1</div>
                        <a href="mailto:mail@example.com" class="contact-info__item _transparent">mail@example.com</a>
                    </div>
                    <ul class="contact-info__socials socials">
                        <li class="socials__item">
                            <a href="#" target="_blank" class="socials__link">
                                <svg width="15" height="15">
                                    <use xlink:href="#whatsapp">
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="#" target="_blank" class="socials__link">
                                <svg width="15" height="13">
                                    <use xlink:href="#telegram">
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="#" target="_blank" class="socials__link">
                                <svg width="17" height="11">
                                    <use xlink:href="#vk">
                                </svg>
                            </a>
                        </li>  
                        <li class="socials__item">
                            <a href="#" target="_blank" class="socials__link">
                                <svg width="15" height="13">
                                    <use xlink:href="#youtube">
                                </svg>
                            </a>
                        </li>
                    </ul>
                
            </div>
            </div>

        </div>
    </section>
    {% include "pages-blocks/feedback.njk" %}
{% endblock %}

{% block scripts %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=d8a21585-38da-456b-a9c1-d0839c8a79fd&load=package.standard&lang=ru_RU" type='text/javascript'></script>
    {{ super() }}
{% endblock %}
