{% extends "templates/layout.njk" %}

{% set title = "Главная страница" %}

{% block styles %}
    <link rel="stylesheet" href="css/style.min.css">
{% endblock %}

{% block content %}
    
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}