{% extends "templates/layout.njk" %}

{% set title = "Главная страница" %}

{% block styles %}
    <link rel="stylesheet" href="css/libs/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/style.min.css">
{% endblock %}

{% block content %}
    {% include "pages-blocks/hero.njk" %}
    <div class="sections-group sections-group--white">
        {% include "pages-blocks/stocks.njk" %}
        {% include "pages-blocks/products.njk" %}
    </div>
    {% include "pages-blocks/cost-calculate.njk" %}
    <section></section>
{% endblock %}

{% block scripts %}
    <script src="js/libs/swiper-bundle.min.js"></script>
    {{ super() }}
{% endblock %}
