{% extends "templates/layout.njk" %}

{% set title = "Главная страница" %}

{% set is_index_page = true %}
{% set stock_title = "Актуальные акции" %}
{% block styles %}
    <link rel="stylesheet" href="css/libs/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/style.min.css">
{% endblock %}

{% block content %}
    {% include "pages-blocks/banner-hero.njk" %}
    {% include "pages-blocks/stocks.njk" %}
    {% include "pages-blocks/products.njk" %}
    {% include "pages-blocks/cost-calculate.njk" %}
    {% include "pages-blocks/about.njk" %}
    {% include "pages-blocks/why-we.njk" %}
    {% include "pages-blocks/trust-us.njk" %}
    {% include "pages-blocks/info.njk" %}
    {% include "pages-blocks/feedback.njk" %}
{% endblock %}

{% block scripts %}
    <script src="js/libs/swiper-bundle.min.js"></script>
    {{ super() }}
{% endblock %}
