{% extends "templates/layout.njk" %}

{% set title = "Карточка товара" %}

{% block styles %}
    <link rel="stylesheet" href="css/libs/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/single-product.min.css">
{% endblock %}

{% block content %}
    {% include "pages-blocks/product-info.njk" %}
    {% include "pages-blocks/gallery.njk" %}
    {% include "pages-blocks/faq.njk" %}
    {% include "pages-blocks/why-we.njk" %}
    {% include "pages-blocks/info.njk" %}
    {% include "pages-blocks/feedback.njk" %}
{% endblock %}

{% block scripts %}
    <script src="js/libs/swiper-bundle.min.js"></script>
    {{ super() }}
{% endblock %}
