{% extends "templates/layout.njk" %}

{% set title = "Акции" %}


{% block styles %}
    <link rel="stylesheet" href="css/stocks.min.css">
{% endblock %}

{% block content %}
    <section class="hero section">
        <div class="container">
            <nav class="hero__breadcrumbs breadcrumbs">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="./" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">{{ title }}</a>
                    </li>
                </ol>
            </nav>
            <h1 class="hero__title">{{ title }}</h1>
        </div>
    </section>
    <section class="products-layout">
        <div class="products-layout__container container">
            {% include "bem-blocks/sidebar.njk" %}
            <main class="products-layout__grid products-layout__grid--cols-3">
                {% for i in range(15) %}
                    <a href="./typical" class="stocks__item stock">
                        <div class="stock__content">
                            <div class="stock__discount"><span class="stock__discount-value">30</span><span class="stock__discount-unit">%</span></div>
                            <div class="stock__date">до 12.05</div>
                            <div class="stock__title">Скидка на запчасти для грузовых прицепов</div>
                        </div>
                        <div class="stock__image">
                            <img src="./images/stock.png" alt="">
                        </div>
                    </a>
                {% endfor %}
            </main>
        </div>
    </section>
    {% include "pages-blocks/info.njk" %}
    {% include "pages-blocks/feedback.njk" %}
{% endblock %}

{% block scripts %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=d8a21585-38da-456b-a9c1-d0839c8a79fd&load=package.standard&lang=ru_RU" type='text/javascript'></script>
    {{ super() }}
{% endblock %}
