{% extends "templates/layout.njk" %}

{% set title = "Типовая страница" %}

{% set stock_title = "Другие акции" %}
{% set hide_more_stocks_button = true %}

{% block styles %}
    <link rel="stylesheet" href="css/libs/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/typical.min.css">
{% endblock %}

{% block content %}
    <section class="hero">
        <nav class="hero__breadcrumbs breadcrumbs">
            <div class="container">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="./" class="breadcrumbs__link">Главная</a>
                        <svg width="9" height="6">
                            <use xlink:href="#menu_arrow">
                        </svg>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="./stocks" class="breadcrumbs__link">Акции</a>
                        <svg width="9" height="6">
                            <use xlink:href="#menu_arrow">
                        </svg>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Скидка на запчасти для грузовых прицепов</a>
                    </li>
                </ol>
            </div>
        </nav>
        <div class="hero__container container">
            <h1 class="hero__title">H1 Скидка на запчасти для грузовых прицепов</h1>
        </div>
    </section>
    {% include "pages-blocks/content.njk" %}
    {% include "pages-blocks/stocks.njk" %}
    {% include "pages-blocks/why-we.njk" %}
    {% include "pages-blocks/feedback.njk" %}
{% endblock %}

{% block scripts %}
    <script src="js/libs/swiper-bundle.min.js"></script>
    {{ super() }}
{% endblock %}
