.feedback {

    &__header {
        border-bottom: 1px solid #303031;
        align-items: flex-start;
        padding: 0 0 rem(40);
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }

    &__title {
        color: #383838;
        font-size: rem(192);
        @include adaptive-value(font-size, 48, 192, 576, $container-width);
        font-weight: 500;
        line-height: calc(200 / 210);
        white-space: nowrap;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: rem(60);
    }
    
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: rem(70);
        max-width: rem(330);
    }

    &__contacts-title {
        font-size: rem(14);
        font-weight: 600;
        line-height: calc(20 / 14);
        letter-spacing: 0.05em;
        opacity: 0.45;
        text-transform: uppercase;
    }

    &__contacts-item {
        &:not(:last-child) {
            margin: 0 0 rem(20);
        }
    }

    &__form {
        flex: 0 1 calc(50% - rem(8));
        flex-basis: rem(752);
    }
    @include gap {
        &__content {
            flex-direction: column;
            & > * {
                flex-basis: auto;
            }
        }
        &__steps {
            row-gap: rem(45)
        }
    }
    @include phone {
        &__header {
            padding-bottom: rem(20);
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
        &__content {
            gap: rem(30);
        }
        &__steps {
            row-gap: rem(20);
        }
        &__steps-title {
            font-size: rem(12);
            line-height: calc(20 / 12);
        }
    }
}

.contact-item {
    display: flex;
    align-items: center;
    gap: rem(20);
    
    &__link {
        background-color: #1F1F1F;
        border-radius: rem(10);
        color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: rem(60);
        height: rem(60);
    }

    &__label {
        font-size: rem(22);
        font-weight: 600;
        line-height: calc(30 / 22);
    }
    
    @include phone {
        gap: rem(20);

        &__number {
            border-radius: rem(8);
            font-size: rem(18);
            line-height: calc(30 / 18);
            width: rem(45);
            height: rem(45);
        }

        &__text {
            font-size: rem(12);
            line-height: calc(20 / 12);
        }
    }
}