.hero {
    background-color: #F5F6F8;
    padding: rem(25) 0 rem(35);
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        min-height: rem(240);
    }
    &__title {
        @include h1();
        &:not(:first-child) {
            margin: rem(100) 0 0;
        }
    }
    @include phone {
        padding: rem(15) 0;
        &__container {
            min-height: rem(195);
        }
    }
}