<section class="hero section section--black">
    <div class="container">
        <div class="hero__swiper swiper">
            <div class="swiper-wrapper">
                {% for item in range(4) %}
                    <div class="hero__swiper-slide hero-slide swiper-slide">
                        <img src="./images/hero.png" alt="hero" class="hero-slide__image"  data-swiper-parallax="30%">
                        <div class="hero-slide__tag" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="2000">Официальный дистрибьютор</div>
                        <div class="hero-slide__title" data-swiper-parallax="-80%" data-swiper-parallax-opacity="0">Продажа запчастей и комплектующих для грузовой прицепной техники и грузовиков</div>
                    </div>
                {% endfor %}
            </div>
            <div class="hero__swiper-controls swiper-controls">
                {# <div class="container"> #}
                    <div class="swiper-button-prev">
                         <svg width="14" height="16">
                            <use xlink:href="#arrow_fwd">
                        </svg>
                    </div>
                    <div class="swiper-pagination"></div> 
                    <div class="swiper-button-next">
                        <svg width="14" height="16">
                            <use xlink:href="#arrow_fwd">
                        </svg>
                    </div>
                {# </div> #}
            </div>
        </div>
    </div>
</section>