<section class="content section">
    <div class="content__container container">
        <div class="content__column">
            <h2>H2 На рынке уже более десяти лет</h2>
            <p>Таким образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. С другой стороны дальнейшее развитие различных форм <span class="_aaccent">деятельности позволяет оценить</span> значение позиций, занимаемых участниками в отношении поставленных задач.</p>
            <p>С другой стороны реализация намеченных плановых заданий требуют определения и уточнения форм развития. С другой стороны укрепление и развитие структуры играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что рамки и место обучения кадров представляет собой интересный эксперимент проверки.</p>
            <figure>
                <img src="./images/content.png" alt="">
                <figcaption>Краткая подпись к фотографии</figcaption>
            </figure>
            <h2>H2 Сотрудничнство с произовдителями</h2>
            <p>Таким образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. С другой стороны дальнейшее развитие различных форм <span class="_aaccent">деятельности позволяет оценить</span> значение позиций, занимаемых участниками в отношении поставленных задач.</p>
            <h3>H3 Наша команда профессионалов всегда готова помочь</h3>
            <p>Таким образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание позиций, <span class="_aaccent">занимаемых участниками в отношении</span> поставленных задач. С другой стороны дальнейшее развитие различных форм деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.</p>
            <h4>H4 Преимущества совместного сотрудничества:</h4>
            <ul>
                <li>В дополнение к запчастям, мы также предлагаем услуги по их установке и техническому обслуживанию</li>
                <li>Что делает нас универсальным решением для ваших потребностей</li>
                <li>В дополнение к запчастям, мы также предлагаем услуги по их установке и техническому обслуживанию</li>
                <li>Что делает нас универсальным решением для ваших потребностей</li>
            </ul>
            <h3>H3 Этапы работы над вашим проектом</h3>
            <p>Таким образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач.</p>
            <ol>
                <li>В дополнение к запчастям, мы также предлагаем услуги по их установке и техническому </li>
                <li>Таким образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач.</li>
                <li>В дополнение к запчастям, мы также предлагаем услуги по их установке и техническому </li>
                <li>Таким образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. </li>
            </ol>
            <h2>H2 Учитываем особенности вашей техники</h2>
            <p>Таким образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач.</p>
            <blockquote>
                <p>
                    Таким образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. С другой стороны дальнейшее развитие различных форм деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
                </p>
                <footer>
                    <div class="author">Алексей Кизляр, <span class="author__position">генеральный директор</span></div>
                </footer>
            </blockquote>
        </div>
        <aside class="content__aside">
            <div class="content__contacts">
                <div class="content__contact">
                    <a href="tel:+78009993333" class="content__contact-icon">
                        <svg width="18" height="18">
                            <use xlink:href="#phone">
                        </svg>
                    </a>
                    <span class="content__contact-label">8 800 999 33 33</span>
                </div>
                <div class="content__contact">
                    <a href="mailto:mail@example.com" class="content__contact-icon">
                        <svg width="20" height="16">
                            <use xlink:href="#mail">
                        </svg>
                    </a>
                    <span class="content__contact-label">mail@example.com</span>
                </div>
            </div>
        </aside>
    </div>
</section>