<section class="feedback section section--black">
    <div class="container">
        <div class="feedback__header section__header">
            <h2 class="feedback__title section__title">Обратная связь</h2>
        </div>
        <div class="section__body">
            <div class="feedback__content">
                <div class="feedback__contacts">
                    <div class="feedback__contacts-title">Вы можете связаться с нами самостоятельно:</div>
                    <ul class="feedback__contacts-list">
                        <li class="feedback__contacts-item contact-item">
                            <a href="tel:+78009993333" class="contact-item__link">
                                <svg width="18" height="18">
                                    <use xlink:href="#phone">
                                </svg>
                            </a>
                            <span class="contact-item__label">8 800 999 33 33</span>
                        </li>
                        <li class="feedback__contacts-item contact-item">
                            <a href="tel:+78009993333" class="contact-item__link">
                                <svg width="15" height="15">
                                    <use xlink:href="#whatsapp">
                                </svg>
                            </a>
                            <span class="contact-item__label">WhatsApp</span>
                        </li>
                        <li class="feedback__contacts-item contact-item">
                            <a href="tel:+78009993333" class="contact-item__link">
                                <svg width="15" height="13">
                                    <use xlink:href="#telegram">
                                </svg>
                            </a>
                            <span class="contact-item__label">Telegram</span>
                        </li>
                    </ul>
                </div>
                <form action="#" method="post" autocomplete="off" class="feedback__form form">
                    <div class="form__body">
                        <div class="form__field">
                            <input type="text" name="name" placeholder="Ваше имя" class="form__input form__input--required">
                        </div>
                        <div class="form__field">
                            <input type="tel" name="phone" placeholder="Номер телефона" class="form__input form__input--required">
                        </div>
                        <div class="form__field form__field--wide">
                            <textarea class="form__input form__input--textarea" name="comment" placeholder="Ваше сообщение"></textarea>
                        </div>
                        {% if file_input %}
                            <div class="form__file">
                                <div class="form__file-field">
                                    <input class="form__file-input" type="file" id="file" accept=".pdf, .doc, .docx"> 
                                    <label class="form__file-label" for="file">
                                        <div class="icon"></div>
                                        <span class="text">Прикрепить файл</span>
                                    </label>
                                </div>
                                <div class="form__file-doc">
                                    <span class="text"> </span>
                                    <button class="close" type="button"></button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="form__footer">
                        <button class="form__submit button button--primary" type="submit">
                            <span class="button__text">Оставить заявку</span>
                            <svg class="button__arrow" width="11" height="12">
                                <use xlink:href="#button_arrow">
                            </svg>
                        </button>
                        <div class="form__agreement">Нажимая кнопку «Оставить заявку», вы соглашаетесь с <a href="#">политикой конфиденциальности</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>