{% set menu_items = [
    { label: "Каталог", href: "./catalog" }, 
    { label: "О Компании", href: "./about" }, 
    { label: "Акции", href: "./stocks" }, 
    { label: "Доставка", href: "./delivery" }, 
    { label: "Контакты", href: "./contacts" }
] %}

{% set submenu_items = ["Оси и подвески", "Запчасти", "Пневмоподушки", "Оси и подвески", "Запчасти", "Пневмоподушки"] %}

<div class="header {{ 'header--black' if is_index_page }}">
    <div class="header__wrapper">
        <div class="header__container container">
            <a href="./" class="header__logo logo">
                <div class="logo__title">Юведа</div>
                <div class="logo__icon">
                    <object width="14" height="14" data="/images/logo-icon.svg" type="image/svg+xml"></object>
                    {# <svg width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M8 14L8 8L14 8" stroke="#0079C5" stroke-width="2"/>
                        <path d="M6 -9.53674e-07L6 6L0 6" stroke="#0079C5" stroke-width="2"/>
                    </svg> #}
                </div>
                <div class="logo__desc">Продажа<br>запчастей</div>
            </a>
            <div class="header__inner-wrapper">
                <div class="header__main">
                    <nav class="header__menu">
                        <ul class="header__menu-list">
                            {% for item in menu_items %}
                                <li class="header__menu-item">
                                {% if loop.index == 1 %}
                                    <a href="{{ item.href }}" class="header__menu-link">{{ item.label }}</a>
                                    <button class="header__menu-arrow" type="button">
                                        <svg width="9" height="5">
                                            <use xlink:href="#menu_arrow"></use>
                                        </svg>
                                    </button>
                                    <div class="header__submenu">
                                        <ul class="header__submenu-list">
                                            {% for item in submenu_items %}
                                                <li class="header__submenu-item">
                                                    <a href="./categories" class="header__submenu-link">{{ item }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% else %}
                                    <a href="{{ item.href }}" class="header__menu-link">{{ item.label }}</a>
                                {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="header__contact-info contact-info">
                        <div class="contact-info__box">
                            <a href="tel:+78009993333" class="header__phone">8 800 999 33 33</a>
                            <div class="header__address">Республика Татарстан,<br> г. Казань, ул. Баумана, 1</div>
                            <a href="mailto:mail@example.com" class="header__mail">mail@example.com</a>
                        </div>
                        <ul class="contact-info__socials socials">
                            <li class="socials__item">
                                <a href="#" target="_blank" class="socials__link">
                                    <svg width="15" height="15">
                                        <use xlink:href="#whatsapp">
                                    </svg>
                                </a>
                            </li>
                            <li class="socials__item">
                                <a href="#" target="_blank" class="socials__link">
                                    <svg width="15" height="13">
                                        <use xlink:href="#telegram">
                                    </svg>
                                </a>
                            </li>
                            <li class="socials__item">
                                <a href="#" target="_blank" class="socials__link">
                                    <svg width="17" height="11">
                                        <use xlink:href="#vk">
                                    </svg>
                                </a>
                            </li>  
                            <li class="socials__item">
                                <a href="#" target="_blank" class="socials__link">
                                    <svg width="15" height="13">
                                        <use xlink:href="#youtube">
                                   </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    {# <div class="header__phone-wrapper">
                        <a href="tel:+78009993333" class="header__phone">8 800 999 33 33</a>
                    </div> #}
                </div>
                <div class="header__search">
                    <button class="header__search-button" type="button">
                        <svg width="20" height="20">
                            <use xlink:href="#search">
                        </svg>
                        <svg width="17" height="17">
                            <use xlink:href="#close">
                        </svg>
                    </button>
                    <div class="header__search-block">
                        <form action="#" method="GET" class="header__search-form">
                            <input type="search" name="search" placeholder="Поиск по сайту">
                        </form>
                        <button class="header__close-search" type="button">
                            <svg width="30" height="30">
                                <use xlink:href="#close">
                            </svg>
                        </button>
                        <div class="header__search-result">
                            <div class="header__search-result-category">
                                <a href="./categories" class="search-result-item">
                                    <div class="search-result-item__image">
                                        <img src="./images/category-01.png" alt="category thumb">
                                    </div>
                                    <div class="search-result-item__title">Тормозные диски</div>
                                    <div class="search-result-item__amount _transparent">256 позиций</div>
                                </a>
                            </div>
                            <ul class="header__search-result-list">
                                {% for item in range(3) %}
                                    <li class="header__search-result-item">
                                        <a href="./single-product" class="header__search-result-link search-result-item">
                                            <div class="search-result-item__image">
                                                <img src="./images/product-01.png" alt="product thumb">
                                            </div>
                                            <div class="search-result-item__title">Тормозной диск двухосная 8357 передняя (12 листовая)</div>
                                            <div class="search-result-item__price">25 000 ₽</div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <button class="header__button button button--primary" type="button">
                <span class="button__text">Заказать звонок</span>
                <svg class="button__arrow" width="11" height="12">
                    <use xlink:href="#button_arrow">
                </svg>
            </button>
            <button class="header__burger" type="button">
                <span></span>
            </button>
        </div>
    </div>
</div>