<section class="hero">
    <div class="hero__container container">
        <nav class="hero__breadcrumbs breadcrumbs">
            <ol class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a href="./" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link">О компании</a>
                </li>
            </ol>
        </nav>
        <h1 class="hero__title">О Компании</h1>
    </div>
</section>