<section class="licenses section section--black">
    <div class="licenses__container container">
        <div class="licenses__header section__header">
            <div class="section__title">Лицензии</div>
            <div class="swiper-controls">
                <div class="swiper-button-prev">
                    <svg width="14" height="16">
                        <use xlink:href="#arrow_fwd">
                    </svg>
                </div>
                <div class="swiper-pagination"></div> 
                <div class="swiper-button-next">
                    <svg width="14" height="16">
                        <use xlink:href="#arrow_fwd">
                    </svg>
                </div>
            </div>
        </div>
        <div class="licenses__body section__body">
            <div class="licenses__swiper swiper">
                <div class="swiper-wrapper">
                    {% for i in range(6) %}
                        <a href="" class="licenses__license swiper-slide" data-fancybox>
                            <img class="licenses__license-img" src="./images/doc.jpg" alt="">
                            <div class="licenses__license-arrow">
                                <svg class="button__arrow" width="11" height="12" >
                                    <use xlink:href="#button_arrow">
                                </svg>
                                </div>
                            <div class="licenses__license-name">Лицензия на осуществление деятельности Л-3321</div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>