<section class="products section">
    <div class="section__container container">
        <div class="section__header">
            <h2 class="section__title">Продукция</h2>
            <div class="products__swiper-controls swiper-controls">
                <div class="swiper-button-prev">
                    <svg width="14" height="16" viewBox="0 0 14 16" fill="none">
                        <path d="M5 0.928711L12.0711 7.99978L5 15.0708" stroke="currentColor" stroke-width="1.5"/>
                    </svg>
                </div>
                <div class="swiper-pagination"></div> 
                <div class="swiper-button-next">
                    <svg width="14" height="16" viewBox="0 0 14 16" fill="none">
                        <path d="M5 0.928711L12.0711 7.99978L5 15.0708" stroke="currentColor" stroke-width="1.5"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="products__body section__body">
            <div class="products__swiper swiper">
                <div class="swiper-wrapper">
                    {% set products = [
                        { name: "Оси", img: "product-01.png" },
                        { name: "Подвеска", img: "product-02.png" },
                        { name: "Тормозные системы", img: "product-03.png" },
                        { name: "Комплектующие", img: "product-01.png" },
                        { name: "Запасные части", img: "product-01.png" }
                    ] %}
                    {% for i in range(2) %}
                        {% for product in products %}
                            <a href="./categories" class="products__item product swiper-slide">
                                <div class="product__amount">12 позиций</div>
                                <div class="product__image">
                                    <img src="./images/{{product.img}}" alt="">
                                </div>
                                <div class="product__name">{{ product.name }}</div>
                            </a>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <a href="./catalog" class="products__more button button--primary" type="button">
                <span class="button__text">Перейти в каталог</span>
                <svg class="button__arrow" width="11" height="12" viewBox="0 0 11 12" fill="none">
                    <path d="M0 1.5H10V11.5" stroke="currentColor" stroke-width="1.5"/>
                </svg>
            </a>
        </div>
    </div>
</section>