<section class="stocks section">
    <div class="section__container container">
        <div class="section__header">
            <h2 class="section__title">{{ stock_title }}</h2>
            <div class="stocks__swiper-controls swiper-controls">
                <div class="swiper-button-prev">
                    <svg width="14" height="16">
                        <use xlink:href="#arrow_fwd">
                    </svg>
                </div>
                <div class="swiper-pagination"></div> 
                <div class="swiper-button-next">
                    <svg width="14" height="16">
                        <use xlink:href="#arrow_fwd">
                    </svg>
                </div>
            </div>
        </div>
        <div class="stocks__body section__body">
            <div class="stocks__swiper swiper">
                <div class="swiper-wrapper">
                    {% for i in range(6) %}
                    <a href="./typical" class="stocks__item stock swiper-slide">
                        <div class="stock__content">
                            <div class="stock__discount"><span class="stock__discount-value">30</span><span class="stock__discount-unit">%</span></div>
                            <div class="stock__date">до 12.05</div>
                            <div class="stock__title">Скидка на запчасти для грузовых прицепов</div>
                        </div>
                        <div class="stock__image">
                            <img src="./images/stock.png" alt="">
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% if hide_more_stocks_button == false or hide_more_stocks_button == undefined %}
                <a href="./stocks" class="stocks__more button button--primary" type="button">
                    <span class="button__text">Cмотреть все акции</span>
                    <svg class="button__arrow" width="11" height="12">
                        <use xlink:href="#button_arrow">
                    </svg>
                </a>
            {% endif %}
        </div>
    </div>
</section>