<section class="stocks section">
    <div class="section__container container">
        <div class="section__header">
            <div class="section__title">{{ stock_title }}</div>
            <div class="stocks__swiper-controls swiper-controls">
                <div class="swiper-button-prev">
                    <svg width="14" height="16" viewBox="0 0 14 16" fill="none">
                        <path d="M5 0.928711L12.0711 7.99978L5 15.0708" stroke="currentColor" stroke-width="1.5"/>
                    </svg>
                </div>
                <div class="swiper-pagination"></div> 
                <div class="swiper-button-next">
                    <svg width="14" height="16" viewBox="0 0 14 16" fill="none">
                        <path d="M5 0.928711L12.0711 7.99978L5 15.0708" stroke="currentColor" stroke-width="1.5"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="stocks__body section__body">
            <div class="stocks__swiper swiper">
                <div class="swiper-wrapper">
                    {% for i in range(6) %}
                    <div class="stocks__item stock swiper-slide">
                        <div class="stock__content">
                            <div class="stock__discount"><span class="stock__discount-value">30</span><span class="stock__discount-unit">%</span></div>
                            <div class="stock__date">до 12.05</div>
                            <div class="stock__title">Скидка на запчасти для грузовых прицепов</div>
                        </div>
                        <div class="stock__image">
                            <img src="./images/stock.png" alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if hide_more_stocks_button == false or hide_more_stocks_button == undefined %}
                <button class="stocks__more button button--primary" type="button">
                    <span class="button__text">Cмотреть все акции</span>
                    <svg class="button__arrow" width="11" height="12" viewBox="0 0 11 12" fill="none">
                        <path d="M0 1.5H10V11.5" stroke="currentColor" stroke-width="1.5"/>
                    </svg>
                </button>
            {% endif %}
        </div>
    </div>
</section>