<section class="why-we section section--black">
    <div class="container">
        <div class="section__header">
            <h2 class="why-we__title section__title">Почему нам стоит доверять</h2>
        </div>
        <div class="section__body">
            <div class="why-we__advantages">
                {% set advantages = [
                    { name: "Компания является прямым поставщиков с производства", icon: '
                        <svg width="30" height="30">
                            <use xlink:href="#why_we_01">
                        </svg>
                    ' },
                    { name: "Вся продукция в наличие на складе", icon: '
                        <svg width="30" height="30">
                            <use xlink:href="#why_we_02">
                        </svg>
                    
                    ' },
                    { name: "Индивидуальный подход к каждой задаче", icon: '
                        <svg width="30" height="30" >
                            <use xlink:href="#why_we_03">
                        </svg>
                    ' }
                ] %}

                {% for advantage in advantages %}
                <div class="why-we__advantage">
                    <div class="why-we__advantage-icon">{{ advantage.icon |safe }}</div>
                    <div class="why-we__advantage-name">{{ advantage.name }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>