*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
    &[type="button"] {
        cursor: pointer;
    }
}

input, textarea {
    background-color: transparent;
    border: none;
    font-family: inherit;
    outline: none;
}

// hide input number arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea {
    resize: none;
    vertical-align: top;
}

// button,
// input,
// select,
// textarea {
//   font-family: inherit;
//   font-size: 100%;
// }

img {
    vertical-align: top;
}
