.accordion {
    display: flex;
    gap: rem(20);
    &__col {
        border-top: 1px solid #DBDBEE;
        padding: rem(15) 0;
        &:first-child {
            flex-grow: 1;
        }
        &:last-child {
            flex-shrink: 0;
            padding-left: rem(15);
            padding-right: rem(15);
        }
    }
    &__header {
        background-color: #F5F6F8;
        border-radius: rem(10);
        cursor: pointer;
        font-size: rem(18);
        font-weight: 500;
        line-height: calc(25 / 18);
        display: inline-flex;
        align-items: flex-start;
        gap: rem(10);
        padding: rem(20) rem(25);
    }

    &__number {
        color: rgba($color: #09090A, $alpha: 0.45);
        user-select: none;
        &::before {
            content: "/";
            color: #F35D00
        }
    }

    &__title {
        user-select: none;
        transition: color 0.2s ease 0s;
        @include ishover {
            color: var(--primary);
        }
    }

    &__button {
        position: relative;
        width: rem(65);
        height: rem(65);
        transition: color 0.2s ease 0s;
        @include ishover {
            &::before, &::after {
                background-color: var(--primary);
            }
        }
        &::before, &::after {
            background-color: var(--text-color);
            content: "";
            position: absolute;
            top: calc(50% - rem(1));
            left: calc(50% - rem(10));
            width: rem(20);
            height: rem(2);
            transition: backkground-color 0.2s ease 0s, opacity 0.1s ease 0s, transform 0.2s ease 0s;
        }
        &::after {
            transform: rotate(90deg);
        }
    }

    &__body {
        height: 0;
        overflow: hidden;
        transition: height 0.4s ease 0s;
    }

    &__text {
        font-size: rem(16);
        line-height: calc(25 / 16);
        padding: rem(25) 0;
        opacity: 0.55;
        p + p {
            margin: rem(25) 0 0;
        }
    }
    
    &--open {
        .accordion__button {
            &::before {
                opacity: 0;
                transform: rotate(90deg);
            }
            &::after {
                transform: rotate(180deg);
            }
        }
    }
    @include gap {
        gap: 0;
    }
    @include phone {
        &__col {
            &:first-child {
                display: grid;
                grid-template-columns: 1fr auto;
                column-gap: rem(20);
            }
            &:last-child {
                padding: 0;
                width: 0;
            }
        }
        &__header {
            font-size: rem(16);
            line-height: calc(20 / 16);
            padding: rem(15);
        }
        &__title {
        }
        &__body {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
        }
        &__button {
            align-self: center;
            width: rem(20);
            height: rem(20);
        }
        &__text {
            font-size: rem(14);
            line-height: calc(20 / 14);
            padding: rem(20) 0;
            p + p {
                margin-top: rem(15);
            }
        }
    }
}
