.accordion {
    &__header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(24);
    }

    &__title {
    }

    &__button {
        position: relative;
        width: rem(20);
        height: rem(20);
        &::before, &::after {
            background-color: $primary-color;
            border-radius: rem(10);
            content: "";
            position: absolute;
            top: calc(50% - rem(1));
            left: 0;
            width: 100%;
            height: rem(2);
            transition: opacity 0.1s ease 0s, transform 0.2s ease 0s;
        }
        &::after {
            transform: rotate(90deg);
        }
    }

    &__body {
        height: 0;
        overflow: hidden;
        transition: height 0.4s ease 0s;
    }

    &__text {
        margin: rem(30) 0 0;
    }
    
    &--open {
        .accordion__button {
            &::before {
                opacity: 0;
                transform: rotate(-90deg);
            }
            &::after {
                transform: rotate(0);
            }
        }
    }
    @include ishover {
        .accordion__header {
        }
    }
    @include phone {
        &__button {
            flex-shrink: 0;
            width: rem(16);
            height: rem(16);
        }
        &__text {
            margin-top: rem(20)
        }
    }
}
