<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% block styles %}
    
    {% endblock %}
</head>
<body>

    {% include "../pages-blocks/header.njk" %}

    <main class="main">
        {% block content %}
        {% endblock %}
    </main>

    {% include "../pages-blocks/footer.njk" %}
    <div class="popup popup--consultation">
        <div class="popup__container">
            <div class="popup__content">
                <button class="popup__close" type="button"></button>
                <div class="popup__header">
                    <div class="popup__title">Получите бесплатную консультацию специалиста</div>
                    <div class="popup__subtitle">Менеджер свяжется с вами в ближайшее время</div>
                </div>
                <div class="popup__body">
                    <form action="#" method="POST" class="form">
                        <div class="form__field">
                            <input type="text" class="form__input" placeholder="Ваше имя">
                        </div>
                        <div class="form__field">
                            <input type="text" class="form__input" placeholder="+7 (999)-999-99-99">
                        </div>
                        <div class="form__field">
                            <textarea class="form__input form__input--textarea" name="comment" placeholder="Ваше сообщение"></textarea>
                        </div>
                        <button class="form__submit button button--primary">
                            <span class="button__text">Оставить заявку</span>
                            <svg class="button__arrow" width="11" height="12" viewBox="0 0 11 12" fill="none">
                                <path d="M0 1.5H10V11.5" stroke="currentColor" stroke-width="1.5"/>
                            </svg>
                        </button>
                        <div class="form__agreement">Нажимая кнопку «Оставить заявку», вы соглашаетесь с <a href="#">политикой конфиденциальности</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="popup popup--characteristics">
        <div class="popup__container">
            <div class="popup__content">
                <button class="popup__close" type="button"></button>
                <div class="popup__header">
                    <div class="popup__title">Характеристики</div>
                </div>
                <div class="popup__body">
                    <ul class="popup__characteristics">
                        {% set characteristics = [
                            { name: "Бренд", value: "Yonglitai" },
                            { name: "Модель", value: "45144-8600001" },
                            { name: "Производительность", value: "73 м3/ч" },
                            { name: "Частота вращения", value: "1300 об/мин" }
                        ] %}
                        {% for i in range(3) %}
                            {% for characteristic in characteristics %}
                                <li class="popup__characteristic-item characteristic">
                                    <div class="characteristic__name">{{ characteristic.name }}</div>
                                    <div class="characteristic__value">{{ characteristic.value }}</div>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="popup popup--filter">
        <div class="popup__container">
            <div class="popup__content">
                <button class="popup__close" type="button"></button>
                <div class="popup__header">
                    <div class="popup__title">Фильтрация по продукции:</div>
                </div>
                <div class="popup__body"></div>
            </div>
        </div>
    </div>
    <div class="cookies">
        <div class="cookies__text">Используя данный сайт, вы даете согласие на использование файлов cookie</div>
        <button class="cookies__button button button--primary" type="button">
            <span class="button__text">Принять</span>
        </button>
    </div>
    {% include "../pages-blocks/svg-sprites.njk" %}
    {% block scripts %}
        <script src="js/libs/locomotive-scroll.min.js"></script>
        <script src="js/app.min.js"></script>
    {% endblock %}
</body>
</html>