<div class="popup">
    <div class="popup__container">
        <div class="popup__content">
            <button class="popup__close" type="button"></button>
            <div class="popup__header">
                <div class="popup__title"></div>
            </div>
            <div class="popup__body">
            </div>
        </div>
    </div>
</div>