<section class="section">
    <div class="section__header">
        <div class="container">
            <h2 class="section__title"></h2>
        </div>
    </div>
    <div class="section__body"></div>
</section>