:root {
    --white: #FFFFFF;
    --primary: #0079C4;
    --text-color: #09090A;
    --background-color: #141414;
    --dropdown-z-index: 12;
    --header-z-index: 13;
    --popup-z-index: 15;
    --cookies-z-index: 18;
    --preloader-z-index: 20;
    // --init-width: 1920;
    // --init-width_units: calc(var(--init-width) * 1px);
    // @media screen and (min-width: 1920px) {
    //     --screen-diff: calc((100vw - var(--init-width_units))/var(--init-width));
    //     --font-size: calc(16px + 16 * var(--screen-diff));
    // }
}

// @function calc-between-width($width-start, $value-start, $width-end, $value-end)
//     @return calc(#{$value-start} * 1px + (#{$value-end} - #{$value-start}) * (100vw - #{$width-start} * 1px) / (#{$width-end} - #{$width-start}))

// calc-between-width(1600, 16, 1920, 19.2)

// .container {
//     background: rgba(0,0,0,0.8);
//     backdrop-filter: saturate(180%) blur(10px);
// }

// box-shadow: inset 0 0 15px #000; 0 0 0 #000;
// onhover : box-shadow: inset 0 0 0 #000, 0 8px 15px #000

// body {
//     // font grows 1px for every 100px of viewport width
//     font-size: calc(16px + 1vw);
//     // leading grows along with font,
//     // with an additional 0.1em + 0.5px per 100px of the viewport
//     line-height: calc(1.1em + 0.5vw);
// }


body {
    // background-color: var(--background-color);
    background-color: var(--white);
    // color: var(--white);
    color: var(--text-color);
    font-family: "Involve", "sans-serif";
    padding: rem(80) 0 0;
    &._lock {
        height: 100%;
        overflow: hidden;
    }
    @include phone {
        padding-top: rem(65);
    }
}

.container {
    --container-padding: 5rem;
    margin: 0 auto;
    padding: 0 var(--container-padding);
    @include adaptive-value(--container-padding, 20, 80, 576, $container-width);
    width: 100%;
    max-width: rem($container-width);
}

.visually-hidden {
    border: 0;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/// если текст внутри flex контейнера не сжиамется, то есть
/// вылазит за пределы контейнера, то данному флекс-элементу 
/// нужно установить min-width: 0, так как по умолчаниию min-width: auto
/// 
///   overflow-wrap: break-word; ?????
///   min-width: 0;

/// если flex-direction: column, то такой же трюк проделываем с min-height

.section {
    --py: 11.25rem;
    padding: var(--py) 0;
    @include adaptive-value(--py, 80, 180, 576, $container-width);
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(20);
        margin: 0 0 rem(50)
    }

    &__title {
        @include h1()
    }

    &__body {
    }

    &--black {
        background-color: var(--background-color);
        color: var(--white);
    }
    &--black + &--black,
    &:not(.section--black) + &:not(.section--black) {
        margin: calc(-1 * var(--py)) 0 0;
    }

    @include phone {
        &__header {
            &:not(:last-child) {
                margin-bottom: rem(25);
            }
        }
    }
}

.swiper-controls {
    border-radius: rem(10);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(20);
    padding: rem(20);
    position: relative;
    .container {

    }
    .swiper-button-prev, .swiper-button-next {
        color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        position: static;
        width: auto;
        height: auto;
        transition: color 0.2s ease 0s;
        &::after {
            content: none;
        }
        @include ishover {
            color: var(--primary);
        }
    }
    .swiper-pagination {
        display: flex;
        justify-content: center;
        position: static;
        width: auto;
    }
    .swiper-pagination-bullet {
        background-color: var(--white);
        border-radius: rem(30);
        width: rem(20);
        height: rem(2);
        opacity: 0.25;
    }
    .swiper-pagination-bullet-active {
        background-color: var(--primary);
        opacity: 1;
    }
    @include gap {
        padding: rem(15);
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    }
    @include phone {
        padding: rem(10) rem(6);
        .swiper-pagination-bullet {
            width: rem(30);
            height: rem(3);
        }
    }
}

.swiper-button-next {
    svg {
        transform: translate(rem(3), 0);
    }
}
.swiper-button-prev {
    svg {
        transform: translate(rem(-3), 0) rotate(-180deg);
    }
}

._transparent {
    opacity: 0.45;
}
